body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2c3e50;
  background-color: rgb(223, 214, 174);
  height: 90vh;
}

header, footer, .navbar{
  width: 100%;
  max-width: 1000px;
}

h2 {
  font-size: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 98%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  /* box-shadow: 0 -2px 5px rgba(0,0,0,0.1); */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resister, #dateControl{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.resister {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.resister button {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(115, 129, 129);
  border-radius: 15px;
  background-color: rgb(255, 101, 63);
  cursor: pointer;
}

.resisterElement {
  display: flex;
  flex-direction: column;
}

.historyList {
  display: grid;
  place-items: center;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(230, 222, 187);
  margin: 10px;
}

.historyList button{
  font-size: 30px;
  font-weight: bold;
  border: none;
  background-color: rgb(230, 222, 187);
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 60%;
  height: 60%;
  padding: 10px;
  overflow-y: auto;
}

#dateControl {
  font-size: 25px;
  margin-bottom: 10px;
}

#dateControl button{
  font-size: 25px;
  border: none;
  background-color: rgb(223, 214, 174);
  cursor: pointer;
}

#total {
  border-top: 1px solid black;
}

#nickname, #income-expenses {
  appearance: none;         /* 기본 화살표 없애기 (브라우저마다 다름) */
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100px;
  background-color: rgb(236, 231, 207);
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
  cursor: pointer;

  background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

#amount {
  background-color: rgb(236, 231, 207);
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 16px;
}