body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}


header, .navbar{
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 98%;
  background-color: white; /* 배경색 */
  text-align: center;
  height: 100px;
  /* box-shadow: 0 -2px 5px rgba(0,0,0,0.1); */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resister, #dateControl{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.resisterElement {
  display: flex;
  flex-direction: column;
}

.historyList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 65%;
  overflow-y: auto;
}

#total {
  border-top: 1px solid black;
}