* {
  color: rgb(223, 214, 174);
  background-color: rgb(255, 101, 63);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 250px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

a:link, a:visited {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
/* 
a:hover, a:active {
  background-color: #07690c;
} */