/* 미리 변수로 색상을 지정해놓을 수 있음 */
:root {
  --accent-color: #f3ff87;
  --text-color: #f0f4f5;
  --background-color: #0b002b;
}

ul,ol{list-style:none}
a{text-decoration:none;color: rgb(223, 214, 174);font-size:15px}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(255, 101, 63);
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.home a{
  font-size: 20px;
}

.menu, .home {
  display: flex;
  gap: 30px;
  padding: 0 32px;
}